/Abstraction/nbproject/private/
/Abstraction/build/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/Slot2/Abstraction/build/
/Slot2/Abstraction/nbproject/private/
/Slot2/Encapsulation/build/
/Slot2/Encapsulation/nbproject/private/
/Inheritance/nbproject/private/
/Inheritance/build/
/Slot2/Polymorphism/nbproject/private/
/Slot2/Polymorphism/build/
/LAB3/Practical_In_Class + Question/Practical_in_class_1/build/
/LAB3/Practical_In_Class + Question/Practical_in_class_1/nbproject/private/
/LAB3/Practical_In_Class + Question/Practical_in_class_2/build/
/LAB3/Practical_In_Class + Question/Practical_in_class_2/nbproject/private/
/LAB3/Practical_In_Class + Question/Q1_project/build/
/LAB3/Practical_In_Class + Question/Q1_project/nbproject/private/
/LAB3/Practical_In_Class + Question/Q2_Project/nbproject/private/
/LAB3/CarManager/build/
/LAB3/CarManager/nbproject/private/
/LAB3/WorkShop3/build/
/LAB3/WorkShop3/nbproject/private/