/Abstraction/nbproject/private/
/Abstraction/build/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/Slot2/Abstraction/build/
/Slot2/Abstraction/nbproject/private/
/Slot2/Encapsulation/build/
/Slot2/Encapsulation/nbproject/private/